In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

In [12]:
data=pd.read_csv("revenue_prediction.csv")
data.head()

,Id,Name,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
0,101,HungryHowie'sPizza,Yes,Mexican,Bengaluru,55,5.5,5953753
1,102,CharleysPhillySteaks,No,Varied Menu,Gurugram,72,6.8,7223131
2,103,Chuy's,Yes,Chicken,Pune,25,1.9,2555379
3,104,O'Charley's,Yes,Italian/Pizza,Mumbai,18,2.5,2175511
4,105,PolloTropical,Yes,Pizza,Noida,48,4.2,4816715

In [20]:
data.isna().sum()

Id              0
Name            0
Franchise       0
Category        0
City            0
No_Of_Item      0
Order_Placed    0
Revenue         0
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   Name          100 non-null    object
 2   Franchise     100 non-null    object
 3   Category      100 non-null    object
 4   City          100 non-null    object
 5   No_Of_Item    100 non-null    int64
 6   Order_Placed  100 non-null    float64
 7   Revenue       100 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

### Performing one hot encoding on categorical features

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() 
data["Name"] = le.fit_transform(data["Name"])
data["Franchise"] = le.fit_transform(data["Franchise"])
data["Category"] = le.fit_transform(data["Category"])
data["City"] = le.fit_transform(data["City"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   Name          100 non-null    int64
 2   Franchise     100 non-null    int64
 3   Category      100 non-null    int64
 4   City          100 non-null    int64
 5   No_Of_Item    100 non-null    int64
 6   Order_Placed  100 non-null    float64
 7   Revenue       100 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 6.4 KB

In [22]:
X = data.drop("Revenue", axis=1)
y = data["Revenue"]

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [24]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [25]:
model.fit(X_train, y_train)

LinearRegression()

In [26]:
predictions = model.predict(X_test)